*{
 text-decoration: none;
 list-style: none;
 box-sizing: border-box;
 padding: 0;
 margin: 0;
}
.logo{
    display: inline;
    font-size: 27px;
    word-spacing: -50px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 80px;
margin-left: 400px;
    font-weight: bold;
}
nav{
    background-color: beige;
    height: 80px;
    width: 100%;
}
i{
    color: lightblue;
}
.tn{
    color: red;
}
.about{
    color: lightgreen;
}
.career,a:hover{
    color: lightgreen;
    transition: 0.0001s;
}
.depar,a:hover{
    color: lightgreen;
    transition: 0.0001s;
}
.career{
    color: gray;
}
.depar{
    color: gray;
}
nav ul{
    float: right;
    margin-right: 400px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
.first-main-line{
position: absolute;
left: 50%;
transform: translate(-50%,-50%);
}
h1{
    font-family: 'Baloo 2', cursive;
    font-size: 40px;
    text-align: center;
    font-weight: normal;
    color: aquamarine;
}
.first-paragraphe{
    width: 500px;
    height: 100px;
    border: 3px solid white;
    display: inline-block;
text-align: left;
font-family:'Open Sans', sans-serif;
}
body{
    align-items: center;
    text-align: center;
}
.box-one{
    width: 350px;
    height: 370px;
    display: inline-block;
text-align: left;
font-family:'Open Sans', sans-serif;
background-color: blue;
border-radius: 30px;
padding: 20px;
margin: 7px;
}
.important{
    width: px;
    height: 50px;
    border: 3px solid white;
    display: inline-block;
text-align: left;
font-family:'Open Sans', sans-serif;
}
.important.a:hover{
    color: lightgreen;
    transition: 0.0001s;
}
h2{
    font-size: 35px;
}
/* Container holding the image and the text */
.container {
    position: relative;
    text-align: center;
    color: white;
  }
  
  /* Bottom left text */
  .bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
  }
  
  /* Top left text */
  .top-left {
    position: absolute;
    top: 8px;
    left: 16px;
  }
  
  /* Top right text */
  .top-right {
    position: absolute;
    top: 8px;
    right: 16px;
  }
  
  /* Bottom right text */
  .bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
  }
  
  /* Centered text */
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }